button{
    height: 60px;
    width: 60px;
    border-radius: 50px;
    background-color: hsl(0, 0%, 30%);
    color: white;
    font-size:30px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    border: none;
}
#keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 15px;
    padding: 25px;
    margin: 0;
}
#calculator{
    background-image: linear-gradient(black);
    border-radius: 30px;
    max-width: 500px;
    overflow:hidden;
    width: 400px;
    height: 500px;
    
}
body{
   margin: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   background-color:hsl(0, 0%, 15%);
   
   
   
}
#display{
    width: 100%;
    padding: 10px;
    font-size: 3rem;
    background-color:hsl(0, 0%, 30%);
    border: none;
    text-align: right;
    color: white;
    
}
button:hover{
    background-color:hsl(0, 0%, 40%);
}
button:active{
    background-color:hsl(0, 0%, 50%);
}
.operator{
     background-color: hsl(35, 100%, 55%);
}
.operator:hover{
     background-color: hsl(35, 100%, 65%);
}
.operator:hover{
     background-color: hsl(35, 100%, 75%);
}